.container {
  padding: 19px 2rem;
  height: 100%;
}

.routesSection {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.routesSection > a {
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 600;
  line-height: 22.97px;
  text-align: left;
  color: #f4f4f4;
  text-decoration: none;
  margin-bottom: 1rem;
}
