.container {
  padding: 154px 291px 320px 291px;
  text-align: center;
  position: relative;
  background: url("../../Assets/Images/greenbg.png");
  background-position: center center;
}

.textSection > h4 {
  font-family: "Mazius Display";
  font-size: 96px;
  font-weight: 400;
  line-height: 80.64px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #f2f2f2;
}

.textSection > h4 > span {
  color: #a49031;
  font-family: "Mazius Display";
  font-size: 96px;
  font-style: italic;
  font-weight: 400;
  line-height: 80.64px;
  letter-spacing: -0.04em;
  text-align: center;
}

.textSection > button {
  margin: 1.5rem auto;
}

.container > img {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1198px;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    padding: 86px 28px;
  }

  .textSection > h4 {
    font-size: 40px;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: -0.04em;
  }

  .textSection > h4 > span {
    font-size: 40px;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: -0.04em;
  }

  .textSection > button {
    margin: 1rem auto;
  }

  .container > img {
    top: 80%;
    margin: auto;
    width: 80%;
    height: 266.24px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 86px 28px;
  }

  .textSection > h4 {
    font-size: 40px;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: -0.04em;
  }

  .textSection > h4 > span {
    font-size: 40px;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: -0.04em;
  }

  .textSection > button {
    margin: 1rem auto;
  }

  .container > img {
    top: 80%;
    margin: auto;
    width: 80%;
    height: 266.24px;
  }
}
